<div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto1.jpg" alt="fotoPerfil" class="img-fluid" id="fotoPerfil"/>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Araya Salattino, Cristian Gabriel</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Desde el 2016 hasta la actualidad he participado de diferentes proyectos musicales y he trabajado como profesor particular y en diferentes establecimientos académicos. 
                Actualmente me encuentro en una etapa donde quiero ampliar mis conocimientos y abrirme paso a nuevas experiencias en el área de la programación.
                En estos años he aprendido a trabajar en equipo, generar un buen espacio de trabajo y poder desenvolverme con diferentes personas y proyectos.</p>
        </span>
    </div>
</div>