<div class="row ,">
    <h1>Experiencia Laboral</h1>
    <div class="col-1"></div>
    <div class="col-11">
        <ul>
            <li>
                <h2>Trabajo 1</h2>
                <h4> (años)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae beatae laborum itaque in, repudiandae distinctio vel! Dolorum, odit aut. Molestiae ullam repellendus exercitationem nesciunt nemo, pariatur iste consequuntur saepe? Libero.</p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 2</h2>
                <h4> (años)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae beatae laborum itaque in, repudiandae distinctio vel! Dolorum, odit aut. Molestiae ullam repellendus exercitationem nesciunt nemo, pariatur iste consequuntur saepe? Libero.</p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 3</h2>
                <h4> (años)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae beatae laborum itaque in, repudiandae distinctio vel! Dolorum, odit aut. Molestiae ullam repellendus exercitationem nesciunt nemo, pariatur iste consequuntur saepe? Libero.</p>
        </ul>
    </div>
</div>