<div class="row">
    <div class="conteiner">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="logoArgPrograma" id="logoAp"/>
        </div>
        
        <div class="redes">
            <div>
                <a href="https://www.linkedin.com/in/cristian-gabriel-araya-salattino-094b02200/" target="_blank">
                    <img src="../../../assets/linkedin.png" id="linkedin" alt="linkedinLogo">
                </a>
                <a href="https://www.instagram.com/yayiii_64/" target="_blank">
                    <img src="../../../assets/instagram.png" id="instagram" alt="instagramLogo">
                </a>
                <a href="https://github.com/Knutt64" target="_blank">
                    <img src="../../../assets/github.png" id="github" alt="githubLogo">
                </a>
                
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingresar</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>
            </div>
        </div>
    </div>
</div>